table.resolution > tbody > tr:last-child {
  border-top: 2px solid black;
  font-weight: bold;
  background-color: var(--vp-custom-block-tip-bg);
}

table.resolution > tbody > tr:last-child > td:first-child {
  text-align: right;
}

/* Highlight the active page more visibly */
.VPSidebarItem.level-0.is-active > .item .link > .text,
.VPSidebarItem.level-1.is-active > .item .link > .text,
.VPSidebarItem.level-2.is-active > .item .link > .text,
.VPSidebarItem.level-3.is-active > .item .link > .text,
.VPSidebarItem.level-4.is-active > .item .link > .text,
.VPSidebarItem.level-5.is-active > .item .link > .text {
  background-color: var(--vp-c-brand-soft);
  border-radius: 0.25em;
  padding-left: 1em;
}
